$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "mixins";
@import "fonts";
@import "typeahead";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font: 13px Helvetica, Arial;
  background-color: #7E858C;
}

form.newplayers {

  background-color: #B7DECF;
  padding: 3px;
  width: 100%;
  @include box-shadow(7px, 7px, 0, rgba(50, 50, 50, 0.75) );

  input {
    margin-top: 8px;
    width:100%;
  }

}

h1,h2,h3,h4,h5{
  font-family: 'PlakCom-BlackCondensed', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size:64px;
}

.player-list-container {

  @include box-shadow(7px, 7px, 0, rgba(50, 50, 50, 0.75) );

  max-width: 500px;
  margin: 20px auto ;
  background-color: #F0F3D7;
  padding: 10px;

  .player-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .player, .vs {
      font-size: 1.8em;
      text-align: center;
      float:left;
    }

    .vs{
      width:14%;
      font-weight: 800;
      padding-top: 10px ;
    }

    .player {
      width:34%;
      &:hover {
        background: #c9c9c9;
      }
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }
    }

    .remove-player {
      width:16%;
      margin-left:2%;
      padding-top: 13px;
      padding-bottom: 12px;
    }

    li {
      padding: 5px 10px;
      background-color: #D96557;
    }

    li:nth-child(odd) {
      background-color: #ffffff;
    }
  }
}

.form-horizontal {
    padding-top: 20px;

  .form-group {
    margin-left:0;
    margin-right:0;
  }
}



.container-fluid {
//  position: absolute;
//  top: 170px;
  overflow: auto;
//  margin-bottom: 170px ;
}